xsd/biomass-xsd/bio-l1-vfra.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2018 sp1 (x64) (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://eop-cfi.esa.int/CFI" targetNamespace="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>Time data types</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="No_Ref_Date_Time_Type">
		<xsd:restriction base="String_Type">
			<xsd:pattern value="(\d{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1,2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1,2][0-9]|30))|(02-(0[1-9]|[1,2][0-9])))T([0,1][0-9]|2[0-3])(:[0-5][0-9]){2}|0000-00-00T00:00:00|9999-99-99T99:99:99)(.\d*)?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Mission_Date_Time_Type">
		<xsd:restriction base="String_Type">
			<xsd:pattern value="[A-Z0-9]{3}=(\d{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1,2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1,2][0-9]|30))|(02-(0[1-9]|[1,2][0-9])))T([0,1][0-9]|2[0-3])(:[0-5][0-9]){2}|0000-00-00T00:00:00|9999-99-99T99:99:99)(.\d*)?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TAI_Date_Time_Type">
		<xsd:restriction base="Mission_Date_Time_Type">
			<xsd:pattern value="TAI=.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UTC_Date_Time_Type">
		<xsd:restriction base="Mission_Date_Time_Type">
			<xsd:pattern value="UTC=.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UT1_Date_Time_Type">
		<xsd:restriction base="Mission_Date_Time_Type">
			<xsd:pattern value="UT1=.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Seconds_Time_Type">
		<xsd:simpleContent>
			<xsd:extension base="Decimal_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="s"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Seconds_Duration_Type">
		<xsd:simpleContent>
			<xsd:restriction base="Seconds_Time_Type">
				<xsd:minInclusive value="0"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="UTC_EOM_Date_Type">
		<xsd:restriction base="UTC_Date_Time_Type">
			<xsd:pattern value="UTC=9999-99-99T99:99:99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UTC_BOM_Date_Type">
		<xsd:restriction base="UTC_Date_Time_Type">
			<xsd:pattern value="UTC=0000-00-00T00:00:00"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Time_Reference_Type">
		<xsd:restriction base="String_Type">
			<xsd:enumeration value="UTC"/>
			<xsd:enumeration value="UT1"/>
			<xsd:enumeration value="TAI"/>
			<xsd:enumeration value="GPS"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:annotation>
		<xsd:documentation>L1 Virtual Frame Product</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="Frame_Number_Type">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="NonNegativeInteger_Type">
					<xsd:pattern value="[0-9]{3}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="String_Type">
					<xsd:enumeration value="___"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="Frame_Status_Type">
		<xsd:restriction base="String_Type">
			<xsd:enumeration value="NOMINAL"/>
			<xsd:enumeration value="MERGED"/>
			<xsd:enumeration value="PARTIAL"/>
			<xsd:enumeration value="INCOMPLETE"/>
			<xsd:enumeration value="NOT_FRAMED"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="L1_Virtual_Frame_Header_Type">
		<xsd:sequence>
			<xsd:element name="Fixed_Header" type="Fixed_Header_Type"/>
			<xsd:element name="Variable_Header" type="AnyType_Type"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="Decimal_Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="L1_Virtual_Frame_Data_Block_Type">
		<xsd:sequence>
			<xsd:element name="source_L0S" type="String_Type"/>
			<xsd:element name="source_L0M" type="String_Type"/>
			<xsd:element name="source_AUX_ORB" type="String_Type"/>
			<xsd:element name="frame_id" type="Frame_Number_Type"/>
			<xsd:element name="frame_start_time" type="UTC_Date_Time_Type"/>
			<xsd:element name="frame_stop_time" type="UTC_Date_Time_Type"/>
			<xsd:element name="frame_status" type="Frame_Status_Type"/>
			<xsd:element name="ops_angle_start" type="Angle_Type"/>
			<xsd:element name="ops_angle_stop" type="Angle_Type"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="Decimal_Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="L1_Virtual_Frame_File_Type">
		<xsd:sequence>
			<xsd:element name="Earth_Explorer_Header" type="L1_Virtual_Frame_Header_Type"/>
			<xsd:element name="Data_Block" type="L1_Virtual_Frame_Data_Block_Type"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="Decimal_Type" use="optional"/>
	</xsd:complexType>
	<xsd:element name="Earth_Explorer_File" type="L1_Virtual_Frame_File_Type"/>
	<xsd:annotation>
		<xsd:documentation>Basic data types</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="String_Type">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Integer_Type">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="PositiveInteger_Type">
		<xsd:restriction base="xsd:positiveInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeInteger_Type">
		<xsd:restriction base="xsd:nonNegativeInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="Decimal_Type">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Time_Type">
		<xsd:restriction base="xsd:time"/>
	</xsd:simpleType>
	<xsd:complexType name="AnyType_Type" mixed="true">
		<xsd:complexContent>
			<xsd:restriction base="xsd:anyType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Null_Type">
		<xsd:restriction base="xsd:string">
			<xsd:length value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Non_Null_String_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Boolean_Type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TRUE"/>
			<xsd:enumeration value="FALSE"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Angle_Type" mixed="false">
		<xsd:simpleContent>
			<xsd:extension base="Decimal_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="deg"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Distance_Type" mixed="false">
		<xsd:simpleContent>
			<xsd:extension base="Decimal_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="m"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Height_Type" mixed="false">
		<xsd:simpleContent>
			<xsd:extension base="Distance_Type"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="File_Type_Type">
		<xsd:restriction base="String_Type">
			<xsd:pattern value="[A-Z0-9_]{10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="File_Version_Type">
		<xsd:restriction base="PositiveInteger_Type">
			<xsd:pattern value="[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Station_Id_Type">
		<xsd:restriction base="String_Type">
			<xsd:length value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Zone_Id_Type">
		<xsd:restriction base="String_Type">
			<xsd:length value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Refraction_Model_Type">
		<xsd:restriction base="String_Type">
			<xsd:enumeration value="NO_REF"/>
			<xsd:enumeration value="STD_REF"/>
			<xsd:enumeration value="USER_REF"/>
			<xsd:enumeration value="PRED_REF"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Model_Type">
		<xsd:simpleContent>
			<xsd:extension base="Refraction_Model_Type"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Freq_Type">
		<xsd:simpleContent>
			<xsd:extension base="Decimal_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="MHz"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Refraction_Type">
		<xsd:sequence>
			<xsd:element name="Model" type="Model_Type"/>
			<xsd:element name="Freq" type="Freq_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Phone_Number_Type">
		<xsd:restriction base="String_Type">
			<xsd:pattern value="\+?([0-9]|\s)*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Email_Type">
		<xsd:restriction base="String_Type">
			<xsd:pattern value="((\w|\W)+@((\w|\W)+\.)+(\w|\W)+)?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="File_Name_Type">
		<xsd:restriction base="String_Type">
			<xsd:pattern value="([A-Z0-9_]){3}_([A-Z0-9_]){4}_([A-Z0-9_]){10}_([A-Z0-9_]){1,41}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="File_Class_Type">
		<xsd:restriction base="String_Type">
			<xsd:pattern value="OPER"/>
			<xsd:pattern value="OFFL"/>
			<xsd:pattern value="NRT_"/>
			<xsd:pattern value="RPRO"/>
			<xsd:pattern value="STV[0-3]"/>
			<xsd:pattern value="GSOV"/>
			<xsd:pattern value="TEST"/>
			<xsd:pattern value="TD[0-9][0-9]"/>
			<xsd:pattern value="Routine Operations"/>
			<xsd:pattern value="Off-Line Processing"/>
			<xsd:pattern value="near-real-Time Processing"/>
			<xsd:pattern value="Re-Processing"/>
			<xsd:pattern value="Satellite Validation Test [0-3]"/>
			<xsd:pattern value="Ground Segment Overall Validation test"/>
			<xsd:pattern value="Generated test files"/>
			<xsd:pattern value="Test Data Set [0-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Right_Asc">
		<xsd:simpleContent>
			<xsd:extension base="Angle_Type"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Declination">
		<xsd:simpleContent>
			<xsd:extension base="Angle_Type"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Earth Explorer Header data types</xsd:documentation>
	</xsd:annotation>
	<!-- enforces use of schemaVersion in Header-->
	<xsd:complexType name="Earth_Explorer_Header_Type">
		<xsd:sequence>
			<xsd:element name="Fixed_Header" type="Fixed_Header_Type"/>
			<xsd:element name="Variable_Header" type="AnyType_Type"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="Decimal_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Fixed_Header_Type">
		<xsd:sequence>
			<xsd:element name="File_Name" type="File_Name_Type"/>
			<xsd:element name="File_Description" type="String_Type"/>
			<xsd:element name="Notes" type="String_Type"/>
			<xsd:element name="Mission" type="String_Type"/>
			<xsd:element name="File_Class" type="File_Class_Type"/>
			<xsd:element name="File_Type" type="File_Type_Type"/>
			<xsd:element name="Validity_Period" type="Validity_Period_Type"/>
			<xsd:element name="File_Version" type="File_Version_Type"/>
			<xsd:element name="Source" type="Source_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Source_Type">
		<xsd:sequence>
			<xsd:element name="System" type="String_Type"/>
			<xsd:element name="Creator" type="String_Type"/>
			<xsd:element name="Creator_Version" type="String_Type"/>
			<xsd:element name="Creation_Date" type="Creation_Date_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Creation_Date_Type">
		<xsd:restriction base="UTC_Date_Time_Type">
			<xsd:length value="23"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Validity_Time_Type">
		<xsd:restriction base="UTC_Date_Time_Type">
			<xsd:length value="23"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Validity_Period_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="Validity_Start" type="Validity_Time_Type"/>
			<xsd:element name="Validity_Stop" type="Validity_Time_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Validity_Period_EOM_Type">
		<xsd:sequence>
			<xsd:element name="Validity_Start" type="Validity_Time_Type"/>
			<xsd:element name="Validity_Stop" type="UTC_EOM_Date_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Validity_Period_BOM_EOM_Type">
		<xsd:sequence>
			<xsd:element name="Validity_Start" type="UTC_BOM_Date_Type"/>
			<xsd:element name="Validity_Stop" type="UTC_EOM_Date_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Fixed_Header_EOM_Type">
		<xsd:sequence>
			<xsd:element name="File_Name" type="String_Type"/>
			<xsd:element name="File_Description" type="String_Type"/>
			<xsd:element name="Notes" type="String_Type"/>
			<xsd:element name="Mission" type="String_Type"/>
			<xsd:element name="File_Class" type="File_Class_Type"/>
			<xsd:element name="File_Type" type="File_Type_Type"/>
			<xsd:element name="Validity_Period" type="Validity_Period_EOM_Type"/>
			<xsd:element name="File_Version" type="PositiveInteger_Type"/>
			<xsd:element name="Source" type="Source_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Fixed_Header_BOM_EOM_Type">
		<xsd:sequence>
			<xsd:element name="File_Name" type="String_Type"/>
			<xsd:element name="File_Description" type="String_Type"/>
			<xsd:element name="Notes" type="String_Type"/>
			<xsd:element name="Mission" type="String_Type"/>
			<xsd:element name="File_Class" type="File_Class_Type"/>
			<xsd:element name="File_Type" type="File_Type_Type"/>
			<xsd:element name="Validity_Period" type="Validity_Period_BOM_EOM_Type"/>
			<xsd:element name="File_Version" type="PositiveInteger_Type"/>
			<xsd:element name="Source" type="Source_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Product_Confidence_Data_Type">
		<xsd:sequence>
			<xsd:element name="Num_ISPs" type="Integer_Type"/>
			<xsd:element name="Num_Missing_ISPs" type="Integer_Type"/>
			<xsd:element name="Num_Error_ISPs" type="Integer_Type"/>
			<xsd:element name="Num_Discarded_ISPs" type="Integer_Type"/>
			<xsd:element name="Num_RS_ISPs" type="Integer_Type"/>
			<xsd:element name="Num_RS_Corrections" type="Integer_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Lat_Type">
		<xsd:simpleContent>
			<xsd:extension base="Integer_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="10-6deg"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Long_Type">
		<xsd:simpleContent>
			<xsd:extension base="Integer_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="10-6deg"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Product_Location_Type">
		<xsd:sequence>
			<xsd:element name="Start_Lat" type="Lat_Type"/>
			<xsd:element name="Start_Long" type="Long_Type"/>
			<xsd:element name="Stop_Lat" type="Lat_Type"/>
			<xsd:element name="Stop_Long" type="Long_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Rel_Time_ASC_Node_Type">
		<xsd:simpleContent>
			<xsd:extension base="String_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="s"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Equator_Cross_Long_Type">
		<xsd:simpleContent>
			<xsd:extension base="Decimal_Type">
				<xsd:attribute name="unit" type="String_Type" use="optional" fixed="10-6deg"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="Ascending_Flag_Type">
		<xsd:restriction base="String_Type">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Orbit_Information_Type">
		<xsd:sequence>
			<xsd:element name="Sensing_Start" type="TAI_Date_Time_Type"/>
			<xsd:element name="Abs_Orbit_Start" type="Integer_Type"/>
			<xsd:element name="Rel_Time_ASC_Node_Start" type="Rel_Time_ASC_Node_Type"/>
			<xsd:element name="Sensing_Stop" type="TAI_Date_Time_Type"/>
			<xsd:element name="Abs_Orbit_Stop" type="Integer_Type"/>
			<xsd:element name="Rel_Time_ASC_Node_Stop" type="Rel_Time_ASC_Node_Type"/>
			<xsd:element name="Equator_Cross_Time" type="String_Type"/>
			<xsd:element name="Equator_Cross_Long" type="Equator_Cross_Long_Type"/>
			<xsd:element name="Ascending_Flag" type="Ascending_Flag_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SPH_Type">
		<xsd:sequence>
			<xsd:element name="SPH_Descriptor" type="String_Type"/>
			<xsd:element name="Orbit_Information" type="Orbit_Information_Type"/>
			<xsd:element name="Product_Location" type="Product_Location_Type"/>
			<xsd:element name="Product_Confidence_Data" type="Product_Confidence_Data_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Software_Version_Type">
		<xsd:restriction base="String_Type"/>
	</xsd:simpleType>
	<xsd:complexType name="Delta_UT1_Type">
		<xsd:simpleContent>
			<xsd:extension base="Decimal_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="s"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Position_Type">
		<xsd:simpleContent>
			<xsd:extension base="Decimal_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="m"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Velocity_Type">
		<xsd:simpleContent>
			<xsd:extension base="Decimal_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="m/s"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="State_Vector_Source_Type">
		<xsd:restriction base="String_Type">
			<xsd:pattern value=".."/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Product_Err_Type">
		<xsd:restriction base="Integer_Type"/>
	</xsd:simpleType>
	<xsd:complexType name="Tot_Size_Type">
		<xsd:simpleContent>
			<xsd:extension base="Integer_Type">
				<xsd:attribute name="unit" type="String_Type" use="required" fixed="bytes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MPH_Type">
		<xsd:sequence>
			<xsd:element name="Product" type="String_Type"/>
			<xsd:element name="Proc_Stage_Code" type="String_Type"/>
			<xsd:element name="Ref_Doc" type="String_Type"/>
			<xsd:element name="Proc_Time" type="String_Type"/>
			<xsd:element name="Software_Version" type="Software_Version_Type"/>
			<xsd:element name="Phase" type="String_Type"/>
			<xsd:element name="Cycle" type="Integer_Type"/>
			<xsd:element name="Rel_Orbit" type="Integer_Type"/>
			<xsd:element name="Abs_Orbit" type="Integer_Type"/>
			<xsd:element name="State_Vector_Time" type="UTC_Date_Time_Type"/>
			<xsd:element name="Delta_UT1" type="Delta_UT1_Type"/>
			<xsd:element name="X_Position" type="Position_Type"/>
			<xsd:element name="Y_Position" type="Position_Type"/>
			<xsd:element name="Z_Position" type="Position_Type"/>
			<xsd:element name="X_Velocity" type="Velocity_Type"/>
			<xsd:element name="Y_Velocity" type="Velocity_Type"/>
			<xsd:element name="Z_Velocity" type="Velocity_Type"/>
			<xsd:element name="State_Vector_Source" type="State_Vector_Source_Type"/>
			<xsd:element name="Product_Err" type="Product_Err_Type"/>
			<xsd:element name="Tot_Size" type="Tot_Size_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Orbit_Scenario_Variable_Header">
		<xsd:sequence>
			<xsd:element name="Time_Reference">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="UT1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Orbit_File_Variable_Header">
		<xsd:sequence>
			<xsd:element name="Ref_Frame">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="BAR_MEAN_2000"/>
						<xsd:enumeration value="HEL_MEAN_2000"/>
						<xsd:enumeration value="GEO_MEAN_2000"/>
						<xsd:enumeration value="MEAN_DATE"/>
						<xsd:enumeration value="TRUE_DATE"/>
						<xsd:enumeration value="EARTH_FIXED"/>
						<xsd:enumeration value="BAR_MEAN_1950"/>
						<xsd:enumeration value="QUASI_MEAN_DATE"/>
						<xsd:enumeration value="PSE_TRUE_DATE"/>
						<xsd:enumeration value="PSEUDO_EARTH_FIXED"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Time_Reference">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="TAI"/>
						<xsd:enumeration value="UTC"/>
						<xsd:enumeration value="UT1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
