xsd/biomass-xsd/bio-aux-orbit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>BIOMASS Auxiliary Orbit Product</xsd:documentation>
	</xsd:annotation>
	<!-- root element -->
	<xsd:element name="Earth_Observation_File" type="Restituted_Orbit_File_Type"/>
	<xsd:complexType name="Restituted_Orbit_File_Type">
		<xsd:sequence>
			<xsd:element name="Earth_Observation_Header" type="Restituted_Orbit_Header_Type"/>
			<xsd:element name="Data_Block" type="Restituted_Orbit_Data_Block_Type"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
	<!-- Earth_Observation_Header -->
	<xsd:complexType name="Restituted_Orbit_Header_Type">
		<xsd:sequence>
			<xsd:element name="Fixed_Header" type="Fixed_Header_Type"/>
			<xsd:element name="Variable_Header" type="Orbit_File_Variable_Header"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="Fixed_Header_Type">
		<xsd:sequence>
			<xsd:element name="File_Name" type="File_Name_Type"/>
			<xsd:element name="File_Description" type="xsd:string"/>
			<xsd:element name="Notes" type="xsd:string"/>
			<xsd:element name="Mission" type="Mission_Type"/>
			<xsd:element name="File_Class" type="File_Class_Type"/>
			<xsd:element name="File_Type" type="File_Type_Type"/>
			<xsd:element name="Validity_Period" type="Validity_Period_Type"/>
			<xsd:element name="File_Version" type="File_Version_Type"/>
			<xsd:element name="EOFFS_Version" type="xsd:string"/>
			<xsd:element name="Source" type="Source_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Orbit_File_Variable_Header">
		<xsd:sequence>
			<xsd:element name="Ref_Frame">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="BAR_MEAN_2000"/>
						<xsd:enumeration value="HEL_MEAN_2000"/>
						<xsd:enumeration value="GEO_MEAN_2000"/>
						<xsd:enumeration value="MEAN_DATE"/>
						<xsd:enumeration value="TRUE_DATE"/>
						<xsd:enumeration value="EARTH_FIXED"/>
						<xsd:enumeration value="BAR_MEAN_1950"/>
						<xsd:enumeration value="QUASI_MEAN_DATE"/>
						<xsd:enumeration value="PSE_TRUE_DATE"/>
						<xsd:enumeration value="PSEUDO_EARTH_FIXED"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Time_Reference">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="TAI"/>
						<xsd:enumeration value="UTC"/>
						<xsd:enumeration value="UT1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Mission_Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="BIOMASS"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Validity_Period_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="Validity_Start" type="Validity_Time_Type"/>
			<xsd:element name="Validity_Stop" type="Validity_Time_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Validity_Time_Type">
		<xsd:restriction base="UTC_Date_Time_Type">
			<xsd:length value="23"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="File_Version_Type">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:pattern value="[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Source_Type">
		<xsd:sequence>
			<xsd:element name="System" type="xsd:string"/>
			<xsd:element name="Creator" type="xsd:string"/>
			<xsd:element name="Creator_Version" type="xsd:string"/>
			<xsd:element name="Creation_Date" type="Creation_Date_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Creation_Date_Type">
		<xsd:restriction base="UTC_Date_Time_Type">
			<xsd:length value="23"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Data_Block -->
	<xsd:complexType name="Restituted_Orbit_Data_Block_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="List_of_OSVs" type="List_of_OSVs_Type"/>
		</xsd:sequence>
		<xsd:attribute name="type" type="xsd:string" use="required" fixed="xml"/>
		<xsd:attribute name="schemaVersion" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="List_of_OSVs_Type">
		<xsd:sequence>
			<xsd:element name="OSV" type="OSV_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="xsd:nonNegativeInteger" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="OSV_Type">
		<xsd:sequence>
			<xsd:element name="TAI" type="TAI_Date_Time_Type"/>
			<xsd:element name="UTC" type="UTC_Date_Time_Type"/>
			<xsd:element name="UT1" type="UT1_Date_Time_Type"/>
			<xsd:element name="Absolute_Orbit" type="xsd:nonNegativeInteger"/>
			<xsd:element name="X" type="Position_Component_Type"/>
			<xsd:element name="Y" type="Position_Component_Type"/>
			<xsd:element name="Z" type="Position_Component_Type"/>
			<xsd:element name="VX" type="Velocity_Component_Type"/>
			<xsd:element name="VY" type="Velocity_Component_Type"/>
			<xsd:element name="VZ" type="Velocity_Component_Type"/>
			<xsd:element name="Quality" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Position_Component_Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unit" type="xsd:string" use="required" fixed="m"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Velocity_Component_Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unit" type="xsd:string" use="required" fixed="m/s"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- basic types -->
	<xsd:simpleType name="File_Name_Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(bio_aux_orb____.+)|(bio_.+_orb)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="File_Class_Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="OPER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="File_Type_Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="AUX_ORB___"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Mission_Date_Time_Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z0-9]{3}=(\d{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1,2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1,2][0-9]|30))|(02-(0[1-9]|[1,2][0-9])))T([0,1][0-9]|2[0-3])(:[0-5][0-9]){2}|0000-00-00T00:00:00|9999-99-99T99:99:99)(.\d*)?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TAI_Date_Time_Type">
		<xsd:restriction base="Mission_Date_Time_Type">
			<xsd:pattern value="TAI=.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UTC_Date_Time_Type">
		<xsd:restriction base="Mission_Date_Time_Type">
			<xsd:pattern value="UTC=.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UT1_Date_Time_Type">
		<xsd:restriction base="Mission_Date_Time_Type">
			<xsd:pattern value="UT1=.*"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
