xsd/biomass-xsd/bio-aux-attitude.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>BIOMASS Auxiliary Attitude Product</xsd:documentation>
	</xsd:annotation>
	<!-- root element -->
	<xsd:element name="Earth_Observation_File" type="Attitude_File_Type"/>
	<xsd:complexType name="Attitude_File_Type">
		<xsd:sequence>
			<xsd:element name="Earth_Observation_Header" type="Attitude_Header_Type"/>
			<xsd:element name="Data_Block" type="Attitude_Data_Block_Type"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
	<!-- Earth_Observation_Header -->
	<xsd:complexType name="Attitude_Header_Type">
		<xsd:sequence>
			<xsd:element name="Fixed_Header" type="Fixed_Header_Type"/>
			<xsd:element name="Variable_Header" type="xsd:anyType"/>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="Fixed_Header_Type">
		<xsd:sequence>
			<xsd:element name="File_Name" type="File_Name_Type"/>
			<xsd:element name="File_Description" type="xsd:string"/>
			<xsd:element name="Notes" type="xsd:string"/>
			<xsd:element name="Mission" type="Mission_Type"/>
			<xsd:element name="File_Class" type="File_Class_Type"/>
			<xsd:element name="File_Type" type="File_Type_Type"/>
			<xsd:element name="Validity_Period" type="Validity_Period_Type"/>
			<xsd:element name="File_Version" type="File_Version_Type"/>
			<xsd:element name="EOFFS_Version" type="xsd:string"/>
			<xsd:element name="Source" type="Source_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Mission_Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="BIOMASS"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Validity_Period_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="Validity_Start" type="Validity_Time_Type"/>
			<xsd:element name="Validity_Stop" type="Validity_Time_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Validity_Time_Type">
		<xsd:restriction base="UTC_Date_Time_Type">
			<xsd:length value="23"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="File_Version_Type">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:pattern value="[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Source_Type">
		<xsd:sequence>
			<xsd:element name="System" type="xsd:string"/>
			<xsd:element name="Creator" type="xsd:string"/>
			<xsd:element name="Creator_Version" type="xsd:string"/>
			<xsd:element name="Creation_Date" type="Creation_Date_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Creation_Date_Type">
		<xsd:restriction base="UTC_Date_Time_Type">
			<xsd:length value="23"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Data_Block -->
	<xsd:complexType name="Attitude_Data_Block_Type" mixed="false">
		<xsd:sequence>
			<xsd:element name="Attitude_File_Type" type="xsd:string"/>
			<xsd:element name="Attitude_Data_Type" type="xsd:string"/>
			<xsd:element name="Max_Gap" type="Max_Gap_Type"/>
			<xsd:choice>
				<xsd:element name="Attitude_Angles_Data" type="Attitude_Angles_Data_Type"/>
				<xsd:element name="Quaternion_Data" type="Quaternion_Data_Type"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="type" type="xsd:string" use="required" fixed="xml"/>
		<xsd:attribute name="schemaVersion" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="Max_Gap_Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unit" type="xsd:string" use="required" fixed="s"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Attitude_Angles_Data_Type">
		<xsd:sequence>
			<xsd:element name="Reference_Frame" type="xsd:string"/>
			<xsd:element name="List_of_Attitude_Angles" type="List_of_Attitude_Angles_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="List_of_Attitude_Angles_Type">
		<xsd:sequence>
			<xsd:element name="Attitude_Angles" type="Angles_Data_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="xsd:integer" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Angles_Data_Type">
		<xsd:sequence>
			<xsd:element name="Time" type="Angle_Time_Type"/>
			<xsd:element name="Pitch" type="Angle_Type"/>
			<xsd:element name="Roll" type="Angle_Type"/>
			<xsd:element name="Yaw" type="Angle_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Angle_Time_Type">
		<xsd:simpleContent>
			<xsd:extension base="Mission_Date_Time_Type">
				<xsd:attribute name="ref" type="Time_Reference_Type" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="Time_Reference_Type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="UTC"/>
			<xsd:enumeration value="UT1"/>
			<xsd:enumeration value="TAI"/>
			<xsd:enumeration value="GPS"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Quaternion_Data_Type">
		<xsd:sequence>
			<xsd:element name="Reference_Frame" type="xsd:string"/>
			<xsd:element name="List_of_Quaternions" type="List_of_Quaternions_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="List_of_Quaternions_Type">
		<xsd:sequence>
			<xsd:element name="Quaternions" type="Quaternion_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="xsd:integer" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Quaternion_Type">
		<xsd:sequence>
			<xsd:element name="Time" type="Angle_Time_Type"/>
			<xsd:element name="Q1" type="Quaternion_Component_Type"/>
			<xsd:element name="Q2" type="Quaternion_Component_Type"/>
			<xsd:element name="Q3" type="Quaternion_Component_Type"/>
			<xsd:element name="Q4" type="Quaternion_Component_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Quaternion_Component_Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- basic types -->
	<xsd:simpleType name="File_Name_Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(bio_aux_att____.+)|(bio_.+_att)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="File_Class_Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="OPER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="File_Type_Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="AUX_ATT___"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Mission_Date_Time_Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z0-9]{3}=(\d{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1,2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1,2][0-9]|30))|(02-(0[1-9]|[1,2][0-9])))T([0,1][0-9]|2[0-3])(:[0-5][0-9]){2}|0000-00-00T00:00:00|9999-99-99T99:99:99)(.\d*)?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UTC_Date_Time_Type">
		<xsd:restriction base="Mission_Date_Time_Type">
			<xsd:pattern value="UTC=.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Angle_Type" mixed="false">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unit" type="xsd:string" use="required" fixed="deg"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
